<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>

    <div className="container">
        <div className="row ">

            <form className=" row g-3 mt-5" action="/post-crud" method="post">
                <div className="col-12">Create a new user</div>
                <div className="col-md-6">
                    <label for="inputEmail4" className="form-label">Email</label>
                    <input type="email" className="form-control" name="email" placeholder="email">
                </div>
                <div className="col-md-6">
                    <label for="inputPassword4" className="form-label">Password</label>
                    <input type="password" className="form-control" name="password">
                </div>
                <div className="col-md-6">
                    <label for="inputEmail4" className="form-label">First Name</label>
                    <input type="text" className="form-control" name="firstName">
                </div>
                <div className="col-md-6">
                    <label for="inputPassword4" className="form-label">LastName</label>
                    <input type="text" className="form-control" name="lastName">
                </div>
                <div className="col-12">
                    <label for="inputAddress" className="form-label">Address</label>
                    <input type="text" name="address" className="form-control" placeholder="1234 Main St">
                </div>

                <div className="col-md-6">
                    <label for="inputCity" className="form-label">Phone Number</label>
                    <input type="text" name="phoneNumber" className="form-control">
                </div>
                <div className="col-md-4">
                    <label for="inputState" className="form-label">SEX</label>
                    <select name="gender" className="form-select">
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>

                <div className="col-md-2">
                    <label for="inputState" className="form-label">Role</label>
                    <select name="roleId" className="form-select">
                        <option value="1">Admin</option>
                        <option value="2">Doctor</option>
                        <option value="3">Patient</option>

                    </select>
                </div>


                <div className="col-12">
                    <button type="submit" className="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>